body{
    background-color: #F7F3F2;
}

.skip {
    position: absolute;
    font: "IBM Plex Sans";
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: white;
    opacity: 0;
}
    
.skip:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

nav{
    background-color: #F6C8BE;
    text-align: right;
    font-family: "IBM Plex Sans";
    padding-top: 10px;
}
nav li{
    display: block;
    margin-left: 1em;
    margin-right: 1em;
    padding: 8px;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

nav a:hover{
    border: black solid 2px;
    text-decoration: underline;
    color: black;
    background-color: white;
    border-radius: 8px;
    opacity: 50%;
    padding: 10px;
}
  
nav a:focus{
    text-decoration: underline;
}

.here{
    color: rgb(144, 47, 47);
    background-color: white;
    border-radius: 8px;
    padding: 4px;
}

.title{
    display: flex;
    height: 600px;
    width: auto;
    background-image: url("../images/um.jpeg");
    background-position: left;
    opacity: 80%;
    align-items: center;
    justify-content: center;
}

.title > h1{
    font-family: "Fugaz One";
    text-align: center;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke-color: #BD8D82;
    -webkit-text-stroke-width: 1px;
    font-size: 78px;
}

.about_text-block > h2{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    font-family: "IBM Plex Sans";
}

.about_text-block > p{
    font-size: 20px;
    padding: 20px;
    font-family: "IBM Plex Sans";
}

.early_signs_text-block > h2{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    font-family: "IBM Plex Sans";
}

.early_signs_text-block > p{
    font-size: 20px;
    padding: 20px;
    font-family: "IBM Plex Sans";
}

.why_text-block > p{
    font-size: 20px;
    padding: 20px;
    font-family: "IBM Plex Sans";
}

.statistics_text-block > h2{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    font-family: "IBM Plex Sans";
}

.why_text-block > h2{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    font-family: "IBM Plex Sans";
}

.statistics_text-block > h3{
    font-size: 20px;
    padding: 20px;
    font-family: "IBM Plex Sans";
}

.statistics_text-block > ul{
    font-size: 20px;
    padding: 20px;
    font-family: "IBM Plex Sans";
}

footer{
    background-color: #F6C8BE;
    color: black;
    padding: 5px;
    text-align: center;
    font-family: "IBM Plex Sans";
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    font-family: "IBM Plex Sans";
}

.about_text-block, .early_signs_text-block, .statistics_text-block, .why_text-block{
    margin: auto;
    text-align: center;
    word-wrap: break-word;
    font-family: "IBM Plex Sans";
    padding: 30px;
}

div.about_text-block, div.early_signs_text-block, div.statistics_text-block, div.why_text-block{
    width: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 0px rgba(168, 108, 108, 1);
}

div.early_signs_text-block{
    padding-left: 0px;
    padding-right: 0px;
}

div.about_text-block{
    background-color: #ffe1e1;
}

div.early_signs_text-block{
    background-color: #ffd2d2;
}

div.statistics_text-block{
    background-color: #ffc3c3;
}

div.why_text-block{
    background-color: #ffb7b7;
}

:root,
:root.light {
    --bg-color: #fff;
    --text-color: #123;
}

:root.purple {
    --bg-color: #E7DBEB;
    --text-color: #111213;
}

:root.blue {
    --bg-color: #7d98b1;
    --text-color: #111213;
}

:root.pink {
    --bg-color: #f4c6ce;
    --text-color: #111213;
}

:root.yellow {
    --bg-color: rgb(246, 250, 201);
    --text-color: #111213;
}

:root.sage {
    --bg-color: #d4ebc7;
    --text-color: #111213;
}

select {
    padding: 5px;
    font-size: 20px;
    font-family: inherit;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 20px;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
}
body {
    margin: 0;
    background-color: var(--bg-color);
    background-image: var(--bg-url);
    color: var(--text-color);
    font-family: var(--font-family, "IBM Plex Sans", sans-serif);
}

header h1{
    font-family: "Calistoga";
    text-align: center;
    padding-top: 10px;
    color: rgba(10, 10, 10, 0.795);
    font-size: 30px;
}

header{
    padding-bottom: 20px;
}

.clubs{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px;
    row-gap: 50px;
    flex-wrap: nowrap;
}

.pulse, .wolverine, .active, .awaken, .nami, .mhealthy, .wellbeing, .a2c3, .ginsberg{
    display: flex;
    flex-direction: column;
    column-gap: 200px;
    padding: 20px;
    background-color: #F6C8BE;
    align-items: center;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 0px rgba(168, 108, 108, 1);
}

.image{
    display: block;
    width: 300px;
    height: auto;
    box-sizing: border-box;
    border: solid rgba(168, 108, 108, 1) 3px;
}

.overlay {
    position: absolute;
    /* bottom: auto;
    left: auto;
    right: auto; */
    height: 200px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}
  
.gallery:hover .overlay {
    opacity: 80%;
}
  
.text {
    color: black;
    font-size: 30px;
    font-family: "Calistoga";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-block{
    font-size: 20px;
    font-family: "IBM Plex Sans";
    text-align: center;
}

.text-block > h1{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* resources css */
.grid img{
    grid-column: span 1;
    grid-row: span 4;
    height: 200px;
    width: 310px;
    align-self: center;
    margin: 0 auto;
    display: block;
}

.grid p{
    padding: 0px 115px 0px 115px;
    text-align: justify;
}

.uhs-box > h1, .caps-box > h1,.togetherall-box > h1, .psychiatry-box > h1, .trotter-box > h1, .campus_mind_works-box > h1, .wolverine_wellness-box > h1, .office_student_conflict_resolution-box > h1, .continuum_of_care-box > h1{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    font-family: "IBM Plex Sans";
}

.uhs-box > p, .caps-box > p,.togetherall-box > p, .psychiatry-box > p, .trotter-box > p, .campus_mind_works-box > p, .wolverine_wellness-box > p, .office_student_conflict_resolution-box > p, .continuum_of_care-box > p{
    text-align: center;
    font-family: "IBM Plex Sans";
}

.grid button{
    margin: 0 auto;
    display: block;
    background-color: #F7F3F2;
    color: #543E3E;
    font-family: "IBM Plex Sans";
    padding: 10px 115px 10px 115px;
    font-size: medium;
    border-radius: 100px;
}

.grid button:hover{
    background-color: white;
}

.uhs-box, .caps-box,.togetherall-box, .psychiatry-box, .trotter-box, .campus_mind_works-box, .wolverine_wellness-box, .office_student_conflict_resolution-box, .continuum_of_care-box{
    background-color: #EAB7AB;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 0px rgba(168, 108, 108, 1);
    font-family: "IBM Plex Sans";
}

.caps-box img {
    background-color: #F7F3F2;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    border: 5px #F7F3F2 solid;
    column-gap: 20px;
    row-gap: 20px;
    align-self: center;
    justify-content: center;
}

/* about us css */
.grid2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-self: center;
    justify-content: center;
}

.grid2 img{
    grid-column: span 2;
    grid-row: span 2;
    height: 150px;
    width: 150px;
    align-self: center;
    margin: 0 auto;
    display: block;
}

h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.textgrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
}

.textgrid p {
    padding: 0px 75px 0px 75px
}


@media screen and (min-width: 800px){
    nav{
        background-color: #F6C8BE;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-family: "IBM Plex Sans"
    }
    nav li{
        display: inline; 
        align-items: center;
        margin-left: 1em;
        margin-right: 1em;
    }
    
    nav a{
        color: black;
        font-weight: bold;
        text-decoration: none; 
    }
    
    nav a:hover{
        border: black solid 2px;
        text-decoration: underline;
        color: black;
        background-color: white;
        border-radius: 8px;
        opacity: 50%;
        padding: 10px;
    }
      
    nav a:focus{
        text-decoration: underline;
    }

    .title{
        display: flex;
        height: 600px;
        width: auto;
        background-image: url("../images/um.jpeg");
        background-position: left;
        opacity: 80%;
        align-items: center;
        justify-content: center;
    }
    
    .title > h1{
        font-family: "Fugaz One";
        text-align: center;
        font-weight: bolder;
        color: white;
        -webkit-text-stroke-color: #BD8D82;
        -webkit-text-stroke-width: 1px;
        font-size: 100px;
    }
    
    .about_text-block, .early_signs_text-block, .statistics_text-block, .why_text-block{
        margin: auto;
        text-align: center;
        word-wrap: break-word;
        font-family: "IBM Plex Sans";
        padding: 30px;
        transition: transform 250ms;
        transform: translateY(-10px);
    }
    
    div.about_text-block, div.statistics_text-block, div.why_text-block, div.early_signs_text-block{
        width: auto;
        border-radius: 20px;
        transition: transform 250ms;
        transform: translateY(-10px);
    }

    div.early_signs_text-block{
        padding-left: 200px;
        padding-right: 200px;
    }

    .here{
        color: rgb(144, 47, 47);
        background-color: white;
        border-radius: 8px;
        padding: 10px;
    }
    
    .clubs{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 10px;
        row-gap: 50px;
        flex-wrap: nowrap;
    }
    
    .pulse, .wolverine, .active, .awaken, .nami, .mhealthy, .wellbeing, .a2c3, .ginsberg{
        display: flex;
        flex-direction: column;
        column-gap: 200px;
        padding: 20px;
        background-color: #F6C8BE;
        align-items: center;
        border-radius: 20px;
        box-shadow: 4px 4px 0px 0px rgba(168, 108, 108, 1);
    }

    .image{
        display: block;
        width: 300px;
        height: auto;
        box-sizing: border-box;
        border: solid rgba(168, 108, 108, 1) 3px;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 300px;
        opacity: 0;
        transition: .5s ease;
        background-color: white;
    }
      
    .gallery:hover .overlay {
        opacity: 80%;
    }
      
    .text {
        color: black;
        font-size: 40px;
        font-family: "Calistoga";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .text-block{
        font-size: 20px;
        font-family: "IBM Plex Sans";
        text-align: center;
    }

    .text-block > h1{
        font-size: 30px;
        text-align: center;
    }

    /* resources css */
    .grid img{
        grid-column: span 2;
        grid-row: span 5;
        height: 200px;
        width: 310px;
        align-self: center;
        margin: 0 auto;
        display: block;
    }

    .grid p{
        padding: 20px;
        text-align: justify;
    }

    .grid button{
        margin: 0 auto;
        display: block;
        background-color: #F7F3F2;
        color: #543E3E;
        font-family: "IBM Plex Sans";
        padding: 20px 70px 20px 70px;
        font-size: large;
        border-radius: 100px;
    }

    .grid button:hover{
        background-color: white;
    }
    /* about us */
    .grid2 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        align-self: center;
        justify-content: center;
    }
    
    .grid2 img{
        grid-column: span 2;
        grid-row: span 2;
        height: 250px;
        width: 250px;
        align-self: center;
        margin: 0 auto;
        display: block;
    }

    .uhs-box, .caps-box,.togetherall-box, .psychiatry-box, .trotter-box, .campus_mind_works-box, .wolverine_wellness-box, .office_student_conflict_resolution-box, .continuum_of_care-box{
        background-color: #EAB7AB;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 4px 4px 0px 0px rgba(168, 108, 108, 1);
    }

    .caps-box img {
        background-color: #F7F3F2;
    }

    .grid {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 625px 625px 625px 625px 625px;
        border: 5px #F7F3F2 solid;
        column-gap: 20px;
        row-gap: 20px;
        align-self: center;
        justify-content: center;
    }
}


@media screen and (min-width: 1400px) {
    body{
        background-color: #F7F3F2;
    }
    nav{
        background-color: #F6C8BE;
        padding: 25px 0; 
        text-align: right;
        font-family: "IBM Plex Sans"
    }
    nav li{
        display: inline;
        padding-right: 20px;
      
    }
    
    nav a{
        color: black;
        font-weight: bold;
        text-decoration: none; 
    }
    
    nav a:hover{
        text-decoration: underline;
    }
      
    nav a:focus{
        text-decoration: underline;
    }
    
    h1{
        font-family: "IBM Plex Sans";
        text-align: center;
    }

    .title{
        display: flex;
        height: 600px;
        width: fit-content;
        background-image: url("../images/um.jpeg");
        background-position: left;
        opacity: 80%;
        align-items: center;
        justify-content: center;
    }
    
    .title > h1{
        font-family: "Fugaz One";
        text-align: center;
        font-weight: bolder;
        color: white;
        -webkit-text-stroke-color: #BD8D82;
        -webkit-text-stroke-width: 1px;
        font-size: 150px;
    }
    
    .here{
        color: rgb(144, 47, 47);
        background-color: white;
        border-radius: 8px;
        padding: 10px;
    }

    footer{
        background-color: #EAB7AB;
        color: black;
        padding-top: 5px;
        text-align: center;
      }
    
    .container{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
        font-family: "IBM Plex Sans";
    }
    
    .about_text-block, .early_signs_text-block, .statistics_text-block, .why_text-block{
        margin-bottom: 20px;
        text-align: center;
        word-wrap: break-word;
    }
    
    div.about_text-block, div.early_signs_text-block, div.statistics_text-block, div.why_text-block{
        width: 1000px;
        box-shadow: 4px 4px 0px 0px rgba(168, 108, 108, 1);
    }
    
    div.about_text-block, div.statistics_text-block{
        margin-left: 20px;
        transition: transform 250ms;
    }

    div.about_text-block:hover, div.early_signs_text-block:hover, div.statistics_text-block:hover, div.why_text-block:hover{
        transform: translateY(-10px);
    }

    div.early_signs_text-block, div.why_text-block{
        margin-right: 20px;
        transition: transform 250ms;
    }

    div.early_signs_text-block{
        padding-left: 0px;
        padding-right: 0px;
    }

    .clubs{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 100px;
        row-gap: 100px;
        flex-wrap: nowrap;
    }
    
    .gallery{
        position: relative;
        width: 350px;
    }
      
    .image{
        display: block;
        width: 500px;
        height: auto;
        box-sizing: border-box;
        border: solid rgba(168, 108, 108, 1) 3px;
    }
      
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 500px;
        opacity: 0;
        transition: .5s ease;
        background-color: white;
    }
      
    .gallery:hover .overlay {
        opacity: 80%;
    }
      
    .text {
        color: black;
        font-size: 40px;
        font-family: "Calistoga";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .text-block{
        font-size: 20px;
        font-family: "IBM Plex Sans";
        justify-content: flex-end;
        padding-bottom: 20px;
    }
    
    .text-block > h1{
        font-size: 30px;
    }
    
    header h1{
        font-family: "Calistoga";
        text-align: center;
        padding: 10px;
        color: rgba(10, 10, 10, 0.795);
    }
    .pulse, .wolverine, .active, .awaken, .nami, .mhealthy, .wellbeing, .a2c3, .ginsberg{
        display: flex;
        flex-direction: row;
        column-gap: 200px;
        padding: 20px;
        background-color: #F6C8BE;
        align-items: center;
        border-radius: 20px;
        box-shadow: 4px 4px 0px 0px rgba(168, 108, 108, 1);
    }

    /* resources css */
    .grid img{
        grid-column: span 3;
        grid-row: span 5;
        height: 250px;
        align-self: center;
        margin: 0 auto;
        display: block;
    }

    .grid p{
        padding: 20px;
        text-align: justify;
    }

    .grid button{
        margin: 0 auto;
        display: block;
        background-color: #F7F3F2;
        color: #543E3E;
        font-family: "IBM Plex Sans";
        padding: 20px 70px 20px 70px;
        font-size: large;
        border-radius: 100px;
    }

    .grid button:hover{
        background-color: white;
    }

    .uhs-box, .caps-box,.togetherall-box, .psychiatry-box, .trotter-box, .campus_mind_works-box, .wolverine_wellness-box, .office_student_conflict_resolution-box, .continuum_of_care-box{
        background-color: #EAB7AB;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 4px 4px 0px 0px rgba(168, 108, 108, 1);
    }

    .caps-box img {
        background-color: #F7F3F2;
    }

    .grid {
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: 650px 650px 650px;
        border: 5px #F7F3F2 solid;
        column-gap: 20px;
        row-gap: 20px;
        align-self: center;
        justify-content: center;
    }
    :root,
    :root.light {
        --bg-color: #fff;
        --text-color: #123;
    }
 
    :root.purple {
        --bg-color: #E7DBEB;
        --text-color: #111213;
    }
 
    :root.blue {
        --bg-color: #7d98b1;
        --text-color: #111213;
    }
 
    :root.pink {
        --bg-color: #f4c6ce;
        --text-color: #111213;
    }
 
    :root.yellow {
        --bg-color: rgb(246, 250, 201);
        --text-color: #111213;
    }
 
    :root.sage {
        --bg-color: #d4ebc7;
        --text-color: #111213;
    }

    select {
        padding: 15px;
        font-size: 20px;
        font-family: inherit;
        background-color: var(--bg-color);
        color: var(--text-color);
        border-radius: 20px;
        border: solid 1px black;
        margin-left: auto;
        margin-right: auto;
    }
    body {
        margin: 0;
        background-color: var(--bg-color);
        background-image: var(--bg-url);
        color: var(--text-color);
        font-family: var(--font-family, "IBM Plex Sans", sans-serif);
    }

    /* about us page */
    .grid2 img{
        grid-column: span 2;
        grid-row: span 2;
        height: 300px;
        width: 300px;
        align-self: center;
        margin: 0 auto;
        display: block;
    }
    
} 




